<div class="note-card mdl-card mdl-shadow--2dp">
    <!--
    <button class="delete-btn mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">delete</i>
    </button>
    -->
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{title}}</h2>

    </div>
    <div class="mdl-card__supporting-text">
        {{content}}
    </div>
            
</div>